<h1>DragonBall Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }} - {{ power() }}</h3>

    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />

    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />

     <!-- * el evento (Input) me permite que se disparen los cambios apenas escriba en
          * la caja en cambio el evento (change) se dispara cuando se sale de la caja de texto -->
          

    <button class="mt-2 btn btn-primary" (click)="addCharacter()" >Agregar</button>
  </div>

  <div class="row col-sm-6">
    <h3>Listado</h3>
    <ol>
      @for (character of characters(); track character.id) { @if
      (character.power > 500 ) {

      <li>
        <span> {{ character.name }} </span>

        <strong
          [class.text-danger]="character.power > 2000"
          [class.text-info]="character.power < 2000"
        >
          ( {{ character.power }} )

        </strong>
      </li>

      }@else {
      <li><strong>aqui no hay nadie</strong></li>
      }
      <!-- [ngClass]="getPowerClases(character.power)"> -->
      }
    </ol>
  </div>
</section>
